input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }
  select{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }
  p.thick {
    font-weight: bold;
  }
  p{
     text-align: center;
     
  }

  .button {
      background-color: #333;
      color: white;
    } 